<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- <h1>Welcome to the Project Management System</h1>
    <nav>
    
           <button type="button"><a href="/all">View All Data</a></button> 
            
        
    </nav> -->
    <h1>Welcome to the Project Management System</h1>
    <form method="POST" action="/">
        <label for="search_query">Search:</label>
        <input type="text" id="search_query" name="search_query" placeholder="Enter Group Number or Name" required>
        <!-- <select name="search_type" id="search_type" required>
            <option value="">Select Search Type</option>
            <option value="group">Group Number</option>
            <option value="name">Name</option>
        </select> -->
        <button type="submit">Search</button>
    </form>
</body>
</html>
